@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins" , sans-serif;
    box-sizing: border-box;
}
body {
    background: rgba(50, 48, 49, 1);
}

.supportbnt {
    position: fixed;
    bottom: 30px;
    right: 50px;
    height: 60px;
    width: 60px;
    border-radius: 50%; /* Ensures the button is circular */
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    /* border: none; */
    border: 4px solid green;
    background: radial-gradient(
        circle, 
        #006400, /* DarkGreen */
        #228B22, /* ForestGreen */
        #2E8B57, /* SeaGreen */
        #3CB371, /* MediumSeaGreen */
        #00FF7F, /* SpringGreen */
        #7CFC00, /* LawnGreen */
        #00FA9A, /* MediumSpringGreen */
        #006400  /* DarkGreen (repeated) */

    );
    background-size: 200% 200%; /* Make the gradient larger than the button */
    animation: gradient-animation 5s linear infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}
.container {
   width: 300px; 
   display: inline-block;
    /* Set width to fit in one row */
   padding: 0px;
   margin-right: 10px;
   /* background-color: lightcoral; */
}

/* HEADER */
.header {    
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 80px;
    color: #fff;
   
}
.info {
    display: flex;
}
.text {
    width: 600px;
    margin-left: 30px;
}

@media (max-width: 700px) {
    .info {
        display: block;
        text-align: center;
    }
    .text {
    width: 400px;
    margin: 0 0 0 0;
   
}
}
@media (max-width: 600px) {
    .info {
        display: block;
        text-align: center;
    }
    .text {
    width: 300px;
    margin: none;
    font-size: 14px;   
}
body{
    font-size: 14px;
}
}

/* /HEADER */



.enterarea {
   position: relative;
   height: 40px;
   line-height: 40px; 
   margin: 10px 0;
}

input  {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 14;
    padding: 0 10px;
    line-height: 40px;
    border-radius: 10px;
    border: 2px solid #111;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}

input:focus + .labelline,
input:valid + .labelline{
    color: rgba(50, 48, 49, 1);
    height: 30px;
    line-height: 30px;
    padding: 0 4px;
    transform: translate(-15px, -18px) scale(0.88);
    z-index: 1111;
}

input:focus,
input:valid{
    /* color: #66ff00; */
    border: 2px solid rgba(50, 48, 49, 1);
}

.labelline {
    position: absolute;
    font-size: 14;
    color: black;
    margin: 3px 25px;
    background-color: #fff;
    transition: 0.1s ease;
}

.card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 80px;
    margin-right: 80px;
    background: #fff;
    border-radius: 4px;
    border-color: rgb(0, 0, 0);
    /* background-color: #45b9ac; */
    background-color: rgba(10, 10, 10, 0,1);
}

.card1{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 5px; 
    margin-right: 5px;
    margin-top: 10px;
    background: #fff;
    border-radius: 4px;
    border: 4px;
    border-color: rgb(0, 0, 0);
    background-color: rgba(10, 10, 10, 0,1);
}


.flex1 {
    flex:2
}

.flex3 {
    flex:6
}
.flex3 {
    flex:2
}

.row{
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
}

@media (max-width: 1050px) {
    .row {
        margin-left: 80px;
    margin-right: 80px;
      flex-direction: column; /* Stacks containers vertically */
      align-items: center;
    }

    .card1{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 10px;
        width: 100%;
        background: #fff;
        border-radius: 4px;
        border: 4px;
        border-color: rgb(0, 0, 0);
        background-color: rgba(10, 10, 10, 0,1);
    }
 
}

.image {
    height: 130px; 
    object-fit: cover;
    overflow: hidden;
    background: red;
    border-radius: 12px;
}

table, th, td {
    border: 1px solid black;
    /* background: rgba(6, 255, 110, 0.059); */
    /* border-collapse: collapse; */
    
}

.btn {
    background: #111;
    padding: 6px  15px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    font-size: 14px;
}

.socialbtn {
    background: radial-gradient(
        circle at 70% 70px,
        #4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75
      );
    background-size: 200% 200%;
    /* animation: gradient-animation 3s ease infinite; */
    padding: 8px  15px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    text-decoration: none;
    font-size: 14px;
    transition: background-position 1s ease;
}

#insta:hover { 
    background-position: 100% 0; 
}

/* #insta {
    background: radial-gradient(
        circle at 30% 30%,
        #4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75
      );
} */

#telegram {
    background: #1c93e3;
}


.btn:hover {
    opacity: .8;
}

.btn:active {
    opacity: .8;
    color: #fff;
}